h1 {
  font-weight: 500;
  color:#222;
  text-transform: uppercase;
  font-size: 80px;
  padding: 120px 0 4px;
}
h2 {
  margin-bottom: 50px;
  font-size: 21px;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  color: #888;
  margin-bottom: 92px;
}
